﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-stats">
                <div class="card-body">
                    <div class="row" style="color:black;">
                        <div class="col-md-12 text-center">
                            <div class="alert alert-primary">
                                <span id="asOf" style="font-weight:bold"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-primary">
                                        <i class="fa fa-rub" aria-hidden="true"></i>
                                    </div>
                                    <h6 class="stats-title">CASH</h6>
                                    <h7 class="info-title" id="cash"></h7>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-success">
                                        <i class="now-ui-icons business_money-coins"></i>
                                    </div>
                                    <h6 class="stats-title">LOAN RECEIVABLE</h6>
                                    <h7 class="info-title" id="loanReceivable"></h7>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-info">
                                        <i class="now-ui-icons users_single-02"></i>
                                    </div>
                                    <h6 class="stats-title">ACTIVE CLIENTS</h6>
                                    <h7 class="info-title" id="activeClients"></h7>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons business_money-coins"></i>
                                    </div>
                                    <h6 class="stats-title">PAR</h6>
                                    <h7 class="info-title" id="par"></h7>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-warning">
                                        <i class="fa fa-rub" aria-hidden="true"></i>
                                    </div>
                                    <h6 class="stats-title">PAR RATE</h6>
                                    <h7 class="info-title" id="parRate"></h7>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="statistics">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <i class="now-ui-icons objects_support-17"></i>
                                    </div>
                                    <h6 class="stats-title">CBU</h6>
                                    <h7 class="info-title" id="cbu"></h7>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel-header panel-header-lg">
    @*<div class="row" style="color:white; padding-left:40px; text-align:center" >
        LOAN DISBURSEMENT (MONTHLY)
    </div>
    <br/>*@
    <canvas id="bigDashboardChart"></canvas>
</div>

<script>
    function formatNum(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    function addCommas(value) {
        value = parseFloat(value);
        var output = formatNum(value.toFixed(2));
        if (value == 0) {
            output = "-"
        }
        if (value < 0) {
            output = '(' + output.replace('-', '') + ')';
        }
        return output;
        //return value < 0 ? '(' + output.replace('-', '') + ')' : output;
    }

    $.ajax({
        type: "GET",
        url: "GetDashboard",
        success: function (data) {
            var cash = 0;
            var mo = "";
            $.each(data, function (i, r) {
                console.log(r.amount);
                if (r.month == 'JAN') {
                    mo = "JANUARY";
                }
                else if (r.month == 'FEB') {
                    mo = "FEBRUARY";
                }
                else if (r.month == 'MAR') {
                    mo = "MARCH";
                }
                else if (r.month == 'APR') {
                    mo = "APRIL";
                }
                else if (r.month == 'MAY') {
                    mo = "MAY";
                }
                else if (r.month == 'JUN') {
                    mo = "JUNE";
                }
                else if (r.month == 'JUL') {
                    mo = "JULY";
                }
                else if (r.month == 'AUG') {
                    mo = "AUGUST";
                }
                else if (r.month == 'SEP') {
                    mo = "SEPTEMBER";
                }
                else if (r.month == 'OCT') {
                    mo = "OCTOBER";
                }
                else if (r.month == 'NOV') {
                    mo = "NOVEMBER";
                }
                else if (r.month == 'DEC') {
                    mo = "DECEMBER";
                }
                else {
                    mo = "";
                }

                if (r.particulars == "cash") {
                    $("#cash").text(addCommas(r.amount));
                    
                    $("#asOf").text("AS OF " + mo + " " + r.year);
                    $("#yearGross").text(r.year);
                    $("#yearNet").text(r.year);
                }
                if (r.particulars == "loanReceivable") {
                    $("#loanReceivable").text(addCommas(r.amount));
                }
                if (r.particulars == "activeClients") {
                    var s = addCommas(r.amount.toFixed(0))
                    $("#activeClients").text(s.toString().replace('.00', ''));
                }
                if (r.particulars == "par") {
                    $("#par").text(addCommas(r.amount));
                }
                if (r.particulars == "parRate") {
                    $("#parRate").text(addCommas(r.amount * 100) + "%");
                }
                if (r.particulars == "cbu") {
                    $("#cbu").text(addCommas(r.amount));
                }
                if (r.particulars == "income") {
                    $("#income").text(addCommas(r.amount));
                }
                if (r.particulars == "netIncome") {
                    $("#netIncome").text(addCommas(r.amount));
                }

                if (r.amount < 0 && r.particulars == "income") {
                    $("#income").css("color", "red");
                }
                if (r.amount < 0 && r.particulars == "netIncome") {
                    $("#netIncome").css("color", "red");
                }
            })
        }
    })
</script>



<hr/>


<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"><b>GROSS INCOME</b> <small> for the Year </small><span style="font-weight:bold" id="yearGross"></span></h5>
                <hr/>
                @*<h3 class="card-category" id="yearGross"></h3>*@
                <h2 class="card-title" id="income"></h2>
                @*<div class="dropdown">
            <button type="button" class="btn btn-round btn-icon dropdown-toggle btn-outline-default no-caret" data-toggle="dropdown">
                <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <a class="dropdown-item text-danger" href="#">Remove Data</a>
                </div>
        </div>*@
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="activeUsers" width="1002" height="475" style="display: block; height: 190px; width: 401px;" class="chartjs-render-monitor"></canvas>
                </div>
                <div class="table-responsive">
                    <table id="tblIncome" class="table table-striped">
                        <thead>
                            <tr>
                                <td><b>MONTH</b></td>
                                <td><b>YEAR</b></td>
                                <td class="text-right"><b>AMOUNT</b></td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
            </div>
        </div>
    </div>

    <script>
        $.ajax({
            type: "GET",
            url: "GetDashboardIncomeDESC",
            success: function (data) {
                $.each(data, function (i, r) {

                    //Important code starts here to populate table
                    var color = "";
                    if (r.amount < 0) {
                        color = "red";
                    }
                    $("#tblIncome").append("<tr><td style='color:" + color + "'>" + r.month + "</td><td style='color:" + color + "'>"  + r.year + "</td><td class='text-right' style='color:" + color + "'>" + addCommas(r.amount) + "</td></tr>");
                })
            }
        })
    </script>
    <div class="col-lg-6 col-md-6">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"><b>NET INCOME</b> <small> for the Year </small><span style="font-weight:bold" id="yearNet"></span> </h5>
                <hr />
                @*<h6 class="card-category" id="yearNet"></h6>*@
                <h2 class="card-title" id="netIncome"></h2>
                @*<div class="dropdown">
            <button type="button" class="btn btn-round dropdown-toggle btn-outline-default btn-icon no-caret" data-toggle="dropdown">
                <i class="now-ui-icons loader_gear"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
            </div>
        </div>*@
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                    <canvas id="emailsCampaignChart" width="1002" height="475" style="display: block; height: 190px; width: 401px;" class="chartjs-render-monitor"></canvas>
                </div>
                <div class="table-responsive">
                    <table id="tblNetIncome" class="table table-striped">
                        <thead>
                            <tr>
                                <td><b>MONTH</b></td>
                                <td><b>YEAR</b></td>
                                <td class="text-right"><b>AMOUNT</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                </div>
            </div>
        </div>
    </div>

    <script>
        $.ajax({
            type: "GET",
            url: "GetDashboardNetIncomeDESC",
            success: function (data) {
                $.each(data, function (i, r) {

                    //Important code starts here to populate table
                    var color = "";
                    if (r.amount < 0) {
                        color = "red";
                    }
                    $("#tblNetIncome").append("<tr><td style='color:" + color + "'>" + r.month + "</td><td style='color:" + color + "'>"  + r.year + "</td><td class='text-right' style='color:" + color + "'>" + addCommas(r.amount) + "</td></tr>");
                })
            }
        })
    </script>

</div>



