﻿@using fs.Models.IRepo;
@inject iUserManager UserManager;
@{
    string empCode = UserManager.GetCurrentUser(this.Context).employeeCode;
}
<style>
    .span-textarea {
        overflow: auto;
        /*height: 8rem;*/
        resize: vertical;
        vertical-align: top !important;
        text-transform: none;
        color: inherit;
        font: inherit;
        border: none;
        outline: 0;
        margin: 0;
        -webkit-appearance: textarea;
        appearance: textarea;
        flex-direction: column !important;
        white-space: pre-wrap !important;
        word-wrap: break-word;
        display: inline-block;
        text-align: start;
        -webkit-writing-mode: horizontal-tb;
    }

    textarea {
        width: 100%;
        height: 150px;
    }
</style>
<div class="row">
    <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">NOTES TO FS</h5>
            </div>
            <div class="card-body">
                <label class="col-md-4 col-form-label"><b>MONTH / YEAR</b></label>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <select name="month" class="form-control" id="month">
                                    <option value="JANUARY">JANUARY</option>
                                    <option value="FEBRUARY">FEBRUARY</option>
                                    <option value="MARCH">MARCH</option>
                                    <option value="APRIL">APRIL</option>
                                    <option value="MAY">MAY</option>
                                    <option value="JUNE">JUNE</option>
                                    <option value="JULY">JULY</option>
                                    <option value="AUGUST">AUGUST</option>
                                    <option value="SEPTEMBER">SEPTEMBER</option>
                                    <option value="OCTOBER">OCTOBER</option>
                                    <option value="NOVEMBER">NOVEMBER</option>
                                    <option value="DECEMBER">DECEMBER</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div name="year" class="form-group">
                                <select class="form-control" id="year">
                                    <option value="2021">2021</option>
                                    <option value="2022">2020</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="toolbar">
                            <a class="btn btn-facebook" id="addNew">
                                <i class="nc-icon nc-simple-add"></i>
                                Add New Record
                            </a>
                        </div>
                        <table id="dtNotes" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Notes #</th>
                                    <th>Description</th>
                                    <th>Remarks</th>

                                    <th class="disabled-sorting text-center"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Notes #</th>
                                    <th>Description</th>
                                    <th>Remarks</th>

                                    <th class="disabled-sorting text-center"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--MODALS-->
<!--ADD -->
<div class="modal fade ps show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up" id="exampleModalLabel">Add New Record</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="id" class="form-control" hidden>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Notes #</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <select style="font:bold" type="text" id="notesId" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3 col-form-label">Remarks *</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <textarea id="remarks" ></textarea>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="save" class="btn btn-danger">Save changes</button>
            </div>

        </div>
    </div>
</div>

<!--EDIT -->
<div class="modal fade ps show" id="myEModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered" role="dialog">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h4 class="title title-up" id="exampleModalLabel">Edit Record</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="id" class="form-control" hidden>
                    <div class="row">
                        <label class="col-sm-3 col-form-label">Notes #</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <input style="font:bold" type="text" id="notesEId" class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3 col-form-label">Remarks *</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <textarea id="Eremarks"></textarea>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="editSave" class="btn btn-danger">Save changes</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
       // GetNotes();
        $('#addNew').click(function () {
            GetNotes();
            $("#myModal").modal('show');
        });

        $('#fsDetails').hide();
        var d = new Date(),
            n = d.getMonth(),
            y = d.getFullYear();

        const monthNames = ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE",
            "JULY", "AUGUST", "SEPTEMBER", "OCTOBER", "NOVEMBER", "DECEMBER"
        ];

        //console.log(monthNames[n]);
        $('#month option[value="' + monthNames[n] + '"]').prop('selected', true);
        $('#year option[value="' + y + '"]').prop('selected', true);

        var month = $("#month").val();
        var year = $("#year").val();

        var tbl = $('#dtNotes').DataTable();

        $("#month").change(function () {
           
            console.log($("#month option:selected").text());
            month = $("#month option:selected").text();
  
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetFSNotes", "Notes")",
                data: {
                    month: month,
                    year: $("#year option:selected").text()
                },
                success: function (data) {
                   
                    if (data.data.length == 0) {
                        var table = $('#dtNotes').DataTable();
                        table
                            .clear()
                            .draw();
                    }
                    else {
                        tbl = $('#dtNotes').DataTable({
                            "ajax": {
                                "url": '@Url.Action("GetFSNotes", "Notes")',
                                "type": "Get",
                                "datatype": "json",
                                "data": {
                                    month: month,
                                    year: $("#year option:selected").text()
                                }
                            },
                            "order": [[0, "asc"]],
                            "pagingType": "full_numbers",
                            "lengthMenu": [
                                [10, 25, 50, -1],
                                [10, 25, 50, "All"]
                            ],
                            language: {
                                search: "_INPUT_",
                                searchPlaceholder: "Search Records",
                            },
                            "columns": [
                                {
                                    "data": "notesId", render: function (data, type, row) {
                                        return row.notesId
                                    }
                                },
                                {
                                    "data": "description", render: function (data, type, row) {
                                        return row.description
                                    }
                                },
                                {
                                    "data": "remarks", render: function (data, type, row) {
                                        return '<span class="span-textarea">' + row.remarks + '</span>'
                                    }
                                },
                                {
                                    "data": "id", "render": function (data) {
                                        return '<div class="text-center"><a href="#" id="edit"  data-toggle="tooltip" data-placement="top" title="Edit Record" class="btn btn-round btn-warning btn-icon btn-sm"><i class="fa fa-edit"></i></a> ' +
                                        ' <a href="#" id="delete" data-toggle="tooltip" data-placement="top" title="Delete Record"  class="btn btn-round btn-danger btn-icon btn-sm"><i class="fa fa-trash"></i></a></div>'
                                    }
                                }
                            ],
                            "destroy": true
                        })
                    }
                }
            })
        });

        $("#year").change(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetFSNotes", "Notes")",
                data: {
                    month: month,
                    year: $("#year option:selected").text()
                },
                success: function (data) {
                    
                    if (data.data.length == 0) {
                        var table = $('#dtNotes').DataTable();
                        table
                            .clear()
                            .draw();
                    }
                    else {
                        tbl = $('#dtNotes').DataTable({
                        "ajax": {
                            "url": '@Url.Action("GetFSNotes", "Notes")',
                            "type": "Get",
                            "datatype": "json",
                            "data": {
                                month: month,
                                year: $("#year option:selected").text()
                            }
                            },
                            "order": [[0, "asc"]],
                        "pagingType": "full_numbers",
                        "lengthMenu": [
                            [10, 25, 50, -1],
                            [10, 25, 50, "All"]
                        ],
                        language: {
                            search: "_INPUT_",
                            searchPlaceholder: "Search Records",
                        },

                        "rowId": "id",
                        "columns": [
                            {
                                "data": "notesId", render: function (data, type, row) {
                                    return row.notesId
                                }
                            },
                            {
                                "data": "description", render: function (data, type, row) {
                                    return row.description
                                }
                            },
                            {
                                "data": "remarks", render: function (data, type, row) {
                                    return '<span class="span-textarea">' + row.remarks + '</span>'
                                }
                            },
                            {
                                "data": "id", "render": function (data) {
                                    return '<div class="text-center"><a href="#" id="edit" data-toggle="tooltip" data-placement="top" title="Edit Record" class="btn btn-round btn-warning btn-icon btn-sm"><i class="fa fa-edit"></i></a> ' +
                                    ' <a href="#" id="delete" data-toggle="tooltip" data-placement="top" title="Delete Record"  class="btn btn-round btn-danger btn-icon btn-sm"><i class="fa fa-trash"></i></a></div>'
                                }
                            }
                        ],
                        "destroy": true
                    })
                    }
                }
            })
        });

        tbl = $('#dtNotes').DataTable({
            "ajax": {
                "url": '@Url.Action("GetFSNotes", "Notes")',
                "type": "Get",
                "datatype": "json",
                "data": {
                    month: $("#month option:selected").text(),
                    year: $("#year option:selected").text()
                }
            },
            "order": [[0, "asc"]],
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search Records",
            },

            "rowId": "id",
            "columns": [
                {
                    "data": "notesId", render: function (data, type, row) {
                        return row.notesId
                    }
                },
                {
                    "data": "description", render: function (data, type, row) {
                        return row.description
                    }
                },
                {
                    "data": "remarks", render: function (data, type, row) {
                        return '<span class="span-textarea">' + row.remarks + '</span>'
                    }
                },
                {
                    "data": "id", "render": function (data) {
                        return '<div class="text-center"><a href="#" id="edit" data-toggle="tooltip" data-placement="top" title="Edit Record" class="btn btn-round btn-warning btn-icon btn-sm"><i class="fa fa-edit"></i></a> ' +
                        ' <a href="#" id="delete" data-toggle="tooltip" data-placement="top" title="Delete Record"  class="btn btn-round btn-danger btn-icon btn-sm"><i class="fa fa-trash"></i></a></div>'
                    }
                }
            ],
            "destroy": true
        })

        $('#save').click(function () {
        if ($("#notesId").val().trim() == "") {
            swal("Error", "Notes Number is required", "error");
        }
        else if ($("#remarks").val().trim() == "") {
            swal("Error", "Remarks is required", "error");
        }
        else {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CheckNotesIfExist", "Notes")",
                data: {
                    month: month,
                    year: year,
                    notesId: $("#notesId").val()
                },
                success: function (data) {
                    if (data == true) {
                        swal("Error", "Notes number " + $("#notesId").val() + " for the month of " + month + " " + year + " already exist.", "error");
                    }
                    else {
                        formData = new FormData();
                        formData.append("notesId", $("#notesId").val());
                        formData.append("remarks", $("#remarks").val());
                        formData.append("month", $("#month").val());
                        formData.append("year", $("#year").val());
                        formData.append("createdBy", '@empCode');
                        formData.append("createdAt", new Date());
                        formData.append("updatedAt", new Date());
                        swal({
                            title: "Save Changes?",
                            text: "Confirmation",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Yes",
                            cancelButtonText: "No",
                            closeOnConfirm: false
                        }, function () {
                                swal({
                                    title: 'Please Wait..!',
                                    text: 'Saving Record',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    allowEnterKey: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    onOpen: () => {
                                        swal.showLoading()
                                    }
                                })
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("Insert", "Notes")",
                                    data: formData,
                                    processData: false,
                                    contentType: false,
                                    success: function (data) {
                                        tbl.ajax.reload();
                                        $("#remarks").val("");
                                        GetNotes();
                                        swal({
                                            title: "Saved!",
                                            text: "Data successfully Saved! Do you want to add another?",
                                            type: "success",
                                            showCancelButton: true,
                                            confirmButtonColor: "#DD6B55",
                                            confirmButtonText: "Yes",
                                            cancelButtonText: "No",
                                            closeOnConfirm: true
                                        }, function (isConfirm) {
                                                if (isConfirm) {
                                                    setTimeout(function () {
                                                        $('#notesId').focus();
                                                    }, 0);
                                                } else {
                                                    $("#myModal").modal('hide');
                                                }
                                        });
                                    }
                                })
                        });
                    }
                }
            })
            }
        });

        
        var createdAt;
        $('#dtNotes tbody').on('click', '#edit', function () {
            $tr = $(this).closest('tr');
            var data = tbl.row($tr).data();
            selectedRow = data.id;
            createdAt = data.createdAt;

            //GetNotes();
            $('#notesEId').val(data.notesId);
            $('#Eremarks').val(data.remarks);
            $('#notesEId').prop('disabled', 'disabled');
            $('#myEModal').modal('show');
        });

        $('#dtNotes tbody').on('click', '#editMonth', function () {
            $tr = $(this).closest('tr');
            var data = tbl.row($tr).data();
            selectedRow = data.id;
            createdAt = data.createdAt;

            GetNotes();
            $('#notesEId').val(data.notesId);
            $('#Eremarks').val(data.remarks);
            $('#notesEId').prop('disabled', 'disabled');
            $('#myEModal').modal('show');
        });


        $('#editSave').click(function () {
        if ($("#notesEId").val().trim() == "") {
            swal("Error", "Notes Number is required", "error");
        }
        else if ($("#Eremarks").val().trim() == "") {
            swal("Error", "Remarks is required", "error");
        }

        else {
            formData = new FormData();
            formData.append("notesId", $("#notesEId").val());
            formData.append("remarks", $("#Eremarks").val());
            formData.append("month", $("#month").val());
            formData.append("year", $("#year").val());
            formData.append("createdBy", '@empCode');
            formData.append("createdAt", createdAt);
            formData.append("updatedAt", new Date());
            swal({
                title: "Save Changes?",
                text: "Confirmation",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: false
            }, function () {
                    swal({
                        title: 'Please Wait..!',
                        text: 'Saving Record',
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        allowEnterKey: false,
                        showCancelButton: false,
                        showConfirmButton: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    })
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Update", "Notes")",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            tbl.ajax.reload();
                            swal("Success", "Data Sguccessfully Saved", "success");
                            $('#myEModal').modal('hide');
                            }
                        })
                });
            }
                
        })

        $('#dtNotes tbody').on('click', '#delete', function () {
            $tr = $(this).closest('tr');
            var data = tbl.row($tr).data();
            selectedRow = data.id;
            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },

                function () {
                    $.ajax({
                        type: "DELETE",
                        url: "@Url.Action("Delete", "Notes")",
                        data: {
                            id: selectedRow
                        },
                        success: function (data) {
                            swal("Deleted!", "Data successfully Deleted!", "success");
                            tbl.ajax.reload();
                        }
                    })
                });
        });

        function GetNotes() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetNotes", "Notes")",
                data: {
                    month: $("#month option:selected").val(),
                    year: $("#year option:selected").val()
                },
                success: function (data) {
                    $('#notesId')
                        .find('option')
                        .remove()
                        .end();
                    //$('#notesEId')
                    //    .find('option')
                    //    .remove()
                    //    .end();
                    $.each(data, function (i, d) {
                        $('#notesId').append('<option value="' + d.id + '">' + d.id + ' - ' + d.description + '</option>');
                       // $('#notesEId').append('<option value="' + d.id + '">' + d.id + '</option>');
                    });
                }
            })
        }
        
    });


        

       
</script>


