﻿
@model List<dbaViewModel>
<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
            <div class="card-header ">
                <a class="btn btn-default btn-sm" asp-action="Index" asp-controller="Upload"> Back to Uploads</a>
                <h4 class="card-title text-center">DBA</h4>
                <h3 class="card-category text-center">
                    DAILY BALANCES OF ACCOUNTS <br />
                    AS OF <b>@Model.FirstOrDefault().month.ToUpper() @Model.FirstOrDefault().year.ToUpper()</b>
                </h3>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th class="text-center">Accnt #</th>
                                <th>Account Title</th>
                                <th class="text-right">Consolidated</th>
                                <th class="text-right">Head Office</th>
                                <th class="text-right">North Luzon</th>
                                <th class="text-right">South Luzon</th>
                                <th class="text-right">Visayas</th>
                                <th class="text-right">Mindanao</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                            var consoColor = "";
                                            var hoColor = "";
                                            var nLuzonColor = "";
                                            var nSouthColor = "";
                                            var visayasColor = "";
                                            var mindanaoColor = "";

                                            //consolidated
                                            decimal assetsCons = 0;
                                            decimal assetsConsAdvances = 0;
                                            decimal interestConsReceivable = 0;
                                            decimal totalConsAssets = 0;

                                            decimal liabilitiesCons = 0;
                                            decimal liabilitiesConsAdvances = 0;
                                            decimal totalConsLiabilities = 0;

                                            decimal fundBalanceCons = 0;
                                            decimal incomeCons = 0;
                                            decimal expenseCons = 0;
                                            decimal netIncomeCons = 0;

                                            //HEAD OFFICE
                                            decimal assetsHo = 0;
                                            decimal liabilitiesHo = 0;
                                            decimal fundBalanceHo = 0;
                                            decimal incomeHo = 0;
                                            decimal expenseHo = 0;
                                            decimal netIncomeHo = 0;

                                            //nLuzon
                                            decimal assetsNLuzon = 0;
                                            decimal liabilitiesNLuzon = 0;
                                            decimal fundBalanceNLuzon = 0;
                                            decimal incomeNLuzon = 0;
                                            decimal expenseNLuzon = 0;
                                            decimal netIncomeNLuzon = 0;

                                            //sLuzon
                                            decimal assetsSLuzon = 0;
                                            decimal liabilitiesSLuzon = 0;
                                            decimal fundBalanceSLuzon = 0;
                                            decimal incomeSLuzon = 0;
                                            decimal expenseSLuzon = 0;
                                            decimal netIncomeSLuzon = 0;

                                            //vis
                                            decimal assetsVis = 0;
                                            decimal liabilitiesVis = 0;
                                            decimal fundBalanceVis = 0;
                                            decimal incomeVis = 0;
                                            decimal expenseVis = 0;
                                            decimal netIncomeVis = 0;

                                            //vis
                                            decimal assetsMin = 0;
                                            decimal liabilitiesMin = 0;
                                            decimal fundBalanceMin = 0;
                                            decimal incomeMin = 0;
                                            decimal expenseMin = 0;
                                            decimal netIncomeMin = 0;

                                            //FOR CHECKING
                                            decimal cConso;
                                            decimal cHo;
                                            decimal cNL;
                                            decimal cSL;
                                            decimal cVis;
                                            decimal cMin;

                                            foreach (var item in Model)
                                            {
                                                if (item.consolidated < 0){ consoColor = "Red";}else { consoColor = "Black";}
                                                if (item.headOffice < 0) { hoColor = "Red"; } else { hoColor = "Black"; }
                                                if (item.northLuzon < 0) { nLuzonColor = "Red"; } else { nLuzonColor = "Black"; }
                                                if (item.southLuzon < 0) { nSouthColor = "Red"; } else { nSouthColor = "Black"; }
                                                if (item.visayas < 0) { visayasColor = "Red"; } else { visayasColor = "Black"; }
                                                if (item.mindanao < 0) { mindanaoColor = "Red"; } else { mindanaoColor = "Black"; }
                                <tr>
                                    <td class="text-center">
                                        @item.accntNo
                                    </td>
                                    <td>
                                        @item.accntTitle
                                    </td>
                                    <td class="text-right" style="color:@consoColor">
                                         @item.consolidated.ToString("#,###.00;(#,###.00);-")
                                    </td>
                                    <td class="text-right" style="color:@hoColor">
                                        @item.headOffice.ToString("#,###.00;(#,###.00);-")
                                    </td>
                                    <td class="text-right" style="color:@nLuzonColor">
                                        @item.northLuzon.ToString("#,###.00;(#,###.00);-")
                                    </td>
                                    <td class="text-right" style="color:@nSouthColor">
                                        @item.southLuzon.ToString("#,###.00;(#,###.00);-")
                                    </td>
                                    <td class="text-right" style="color:@visayasColor">
                                        @item.visayas.ToString("#,###.00;(#,###.00);-")
                                    </td>
                                    <td class="text-right" style="color:@mindanaoColor">
                                        @item.mindanao.ToString("#,###.00;(#,###.00);-")
                                    </td>
                                </tr>
                                    if (item.accntTitle.Trim() == "Interest Receivable")
                                    {
                                        interestConsReceivable += item.consolidated;
                                    }

                                    if (item.accntType.Trim() == "Assets")
                                    {

                                        if (item.accntTitle.Contains("Advances"))
                                        {
                                            assetsConsAdvances += item.consolidated;
                                        }
                                        assetsCons += item.consolidated;
                                        assetsHo += item.headOffice;
                                        assetsNLuzon += item.northLuzon;
                                        assetsSLuzon += item.southLuzon;
                                        assetsVis += item.visayas;
                                        assetsMin += item.mindanao;
                                    }
                                    if (item.accntType.Trim() == "Liabilities")
                                    {
                                        if (item.accntTitle.Contains("Advances"))
                                        {
                                            liabilitiesConsAdvances += item.consolidated;
                                        }
                                        liabilitiesCons += item.consolidated;
                                        liabilitiesHo += item.headOffice * -1;
                                        liabilitiesNLuzon += item.northLuzon * -1;
                                        liabilitiesSLuzon += item.southLuzon * -1;
                                        liabilitiesVis += item.visayas * -1;
                                        liabilitiesMin += item.mindanao * -1;
                                    }
                                    if (item.accntType.Trim() == "Fund Balance")
                                    {
                                        fundBalanceCons += item.consolidated * -1;
                                        fundBalanceHo += item.headOffice * -1;
                                        fundBalanceNLuzon += item.northLuzon * -1;
                                        fundBalanceSLuzon += item.southLuzon * -1;
                                        fundBalanceVis += item.visayas * -1;
                                        fundBalanceMin += item.mindanao * -1;
                                    }
                                    if (item.accntType.Trim() == "Income")
                                    {
                                        incomeCons += item.consolidated * -1;
                                        incomeHo += item.headOffice * -1;
                                        incomeNLuzon += item.northLuzon * -1;
                                        incomeSLuzon += item.southLuzon * -1;
                                        incomeVis += item.visayas * -1;
                                        incomeMin += item.mindanao * -1;
                                    }
                                    if (item.accntType.Trim() == "Expenses")
                                    {
                                        expenseCons += item.consolidated;
                                        expenseHo += item.headOffice;
                                        expenseNLuzon += item.northLuzon;
                                        expenseSLuzon += item.southLuzon;
                                        expenseVis += item.visayas;
                                        expenseMin += item.mindanao;
                                    }
                                }
                                totalConsAssets = assetsCons - assetsConsAdvances - interestConsReceivable;
                                totalConsLiabilities = -liabilitiesCons + (liabilitiesConsAdvances) - interestConsReceivable;
                                netIncomeCons = (incomeCons) - expenseCons;
                                netIncomeHo = (incomeHo) - expenseHo;
                                netIncomeNLuzon = (incomeNLuzon) - expenseNLuzon;
                                netIncomeSLuzon = (incomeSLuzon) - expenseSLuzon;
                                netIncomeVis = (incomeVis) - expenseVis;
                                netIncomeMin = (incomeMin) - expenseMin;

                                cConso = totalConsAssets - (totalConsLiabilities + fundBalanceCons + netIncomeCons);
                                cHo = assetsHo - (liabilitiesHo + fundBalanceHo + netIncomeHo);
                                cNL = assetsNLuzon - (liabilitiesNLuzon + fundBalanceNLuzon + netIncomeNLuzon);
                                cSL = assetsSLuzon - (liabilitiesSLuzon + fundBalanceSLuzon + netIncomeSLuzon);
                                cVis = assetsVis - (liabilitiesVis + fundBalanceVis + netIncomeVis);
                                cMin = assetsMin - (liabilitiesMin + fundBalanceMin + netIncomeMin);
                            }
                        </tbody>
                        <tfoot>
                            <tr style="background-color:silver; font-weight:bold" class="text-center">
                                <td colspan="8">SUMMARY</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>ASSETS</td>
                                <td class="text-right">@totalConsAssets.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@assetsHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@assetsNLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@assetsSLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@assetsVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@assetsMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>LIABILITIES</td>
                                <td class="text-right">@totalConsLiabilities.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@liabilitiesHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@liabilitiesNLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@liabilitiesSLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@liabilitiesVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@liabilitiesMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>FUND BALANCE</td>
                                <td class="text-right">@fundBalanceCons.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@fundBalanceHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@fundBalanceNLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@fundBalanceSLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@fundBalanceVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@fundBalanceMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>INCOME</td>
                                <td class="text-right">@incomeCons.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@incomeHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@incomeNLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@incomeSLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@incomeVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@incomeMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>EXPENSES</td>
                                <td class="text-right">@expenseCons.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@expenseHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@expenseNLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@expenseSLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@expenseVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@expenseMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>NET INCOME (NET LOSS)</td>
                                <td class="text-right">@netIncomeCons.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@netIncomeHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@netIncomeNLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@netIncomeSLuzon.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@netIncomeVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@netIncomeMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>

                            <tr style="font-weight:bold">
                                <td></td>
                                <td></td>
                                <td class="text-right">@cConso.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@cHo.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@cNL.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@cSL.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@cVis.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@cMin.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>