﻿
@using  System.Text.RegularExpressions
@model List<cibViewModel>
<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
            <div class="card-header ">
                <a class="btn btn-default btn-sm" asp-action="Index" asp-controller="Upload"> Back to Uploads</a>
                <h4 class="card-title text-center">FINANCE</h4>
                <h3 class="card-category text-center">
                    CASH IN BANK <br />
                    AS OF <b>@Model.FirstOrDefault().month.ToUpper() @Model.FirstOrDefault().year.ToUpper()</b>
                </h3>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th>Bank</th>
                                <th class="text-right">Head Office</th>
                                <th class="text-right">Branches</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var ho = "";
                                var branches = "";
                                decimal totalHo = 0;
                                decimal totalBranches = 0;
                                decimal totalAll = 0;

                                decimal perHo = 0;
                                decimal perBranches = 0;
                                decimal totalPer = 0;
                                foreach (var item in Model)
                                {

                                    if (item.ho < 0) { ho = "Red"; } else { ho = "Black"; }
                                    if (item.branches < 0) { branches = "Red"; } else { branches = "Black"; }

                                    var total = item.ho + item.branches;
                                    var cTotal = "";
                                    if (total < 0) { cTotal = "Red"; } else { cTotal = "Black"; }
                                    <tr>
                                        <td>

                                            @item.bank
                                        </td>
                                        <td class="text-right" style="color:@ho">
                                            @item.ho.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@branches">
                                            @item.branches.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@cTotal">
                                            <b>@total.ToString("#,###.00;(#,###.00);-")</b>
                                        </td>

                                    </tr>

                                    totalHo += item.ho;
                                    totalBranches += item.branches;

                                }
                                totalAll = totalHo + totalBranches;
                                perHo = (totalHo / totalAll) * 100;
                                perBranches = (totalBranches / totalAll) * 100;
                                totalPer = perHo + perBranches;
                            }
                        </tbody>
                        <tfoot>
                            <tr style="font-weight:bold">
                                <th>
                                    Cash in Bank
                                </th>
                                <th class="text-right">
                                    @totalHo.ToString("#,###.00;(#,###.00);-")
                                </th>
                                <th class="text-right">
                                    @totalBranches.ToString("#,###.00;(#,###.00);-")
                                </th>
                                <th class="text-right">
                                    @totalAll.ToString("#,###.00;(#,###.00);-")
                                </th>
                            </tr>
                            <tr style="font-weight:bold">
                                <th>
                                    % over total funds
                                </th>
                                <th class="text-right">
                                    @perHo.ToString("#,###.00;(#,###.00);-")%
                                </th>
                                <th class="text-right">
                                    @perBranches.ToString("#,###.00;(#,###.00);-")%
                                </th>
                                <th class="text-right">
                                    @totalPer.ToString("#,###.00;(#,###.00);-")%
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>