﻿
@using  System.Text.RegularExpressions
@model List<financialAssetsViewModel>
<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
            <div class="card-header ">
                <a class="btn btn-default btn-sm" asp-action="Index" asp-controller="Upload"> Back to Uploads</a>
                <h4 class="card-title text-center">FINANCE</h4>
                <h3 class="card-category text-center">
                    SHORT-TERM PLACEMENTS <br />
                    AS OF <b>@Model.FirstOrDefault().month.ToUpper() @Model.FirstOrDefault().year.ToUpper()</b>
                </h3>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th>Particulars</th>
                                <th>Entity</th>
                                <th>Date Issued</th>
                                <th class="text-center">No. of Shares</th>
                                <th class="text-right">Closing Rate</th>
                                <th class="text-right">Market Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var closingRate = "";
                                var marketValue = "";
                               // decimal total = 0;
                                foreach (var item in Model)
                                {

                                    if (item.closingRate < 0) { closingRate = "Red"; } else { closingRate = "Black"; }
                                    if (item.marketValue < 0) { marketValue = "Red"; } else { marketValue = "Black"; }
                            <tr>
                                <td>
                                    @item.particulars
                                </td>
                                <td>
                                    @item.entity
                                </td>
                                <td>
                                    @item.dateIssued
                                </td>
                                <td class="text-center">
                                    @item.noShares
                                </td>
                                <td class="text-right" style="color:@closingRate">
                                    @item.closingRate.ToString("#,###.00;(#,###.00);-")
                                </td>
                                <td class="text-right" style="color:@marketValue">
                                    @item.marketValue.ToString("#,###.00;(#,###.00);-")
                                </td>

                            </tr>

                                    //total += item.amount;
                                }
                            }
                        </tbody>
                        @*<tfoot>
                            <tr style="font-weight:bold">
                                <th>
                                    Total
                                </th>
                                <th class="text-right">
                                    @total.ToString("#,###.00;(#,###.00);-")
                                </th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>