﻿body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    margin:50px;
}
th, td {
    padding-right: 15px;
    padding-left: 15px;
}
tr.total td{
    border-bottom: 1px solid;
}
tr.grandTotal td {
    border-bottom: 3px double;
    border-collapse: collapse;
    font-weight: bold;
}
