﻿@using fs.Models.IRepo;
@inject iUserManager UserManager;
@{
    string slug;
    string firstname;
    string middlename;
    string lastname;
    string empCode;
    string pict;

    slug = UserManager.GetCurrentUser(this.Context).slug.ToString();
    firstname = UserManager.GetCurrentUser(this.Context).name.first.ToUpper();
    middlename = UserManager.GetCurrentUser(this.Context).name.middle.ToUpper().Substring(0, 1);
    lastname = UserManager.GetCurrentUser(this.Context).name.last.ToUpper();
    empCode = UserManager.GetCurrentUser(this.Context).employeeCode;
    pict = UserManager.GetCurrentUser(this.Context).picture;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon-76x76.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon-96x96.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Accounting System</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="~/css/spinner.css" rel="stylesheet" />
    <link href="~/dropzone/dropzone.css" rel="stylesheet" />
    <script src="~/dropzone/dropzone.js"></script>

    @*<link href="~/assets/datatable/datatables.min.css" rel="stylesheet" />*@
    <script src="~/assets/datatable/datatables.min.js"></script>

    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-multiselect.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert-dev.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">

</head>
<body class="">
    <div class="loading">
        Loading&#8230;
    </div>
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a href="#" class="simple-text logo-mini">
                    FAD
                </a>
                <a href="#" class="simple-text logo-normal">
                    Accounting
                </a>
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round">
                        <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                        <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="@pict" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @firstname.Substring(0, 1)@middlename.Substring(0, 1)@lastname.Substring(0, 1)
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout" id="logoutForm" method="post"></form>

                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="badge badge-pill badge-warning">
                                        Logout
                                    </a>
                                    @*<a asp-controller="Account" asp-action="Logout">
                                        <span class="sidebar-mini-icon">LO</span>
                                        <span class="sidebar-normal">Logout</span>
                                    </a>*@
                                </li>
                                @*<li>
                                    <a href="#">
                                        <span class="sidebar-mini-icon">MP</span>
                                        <span class="sidebar-normal">My Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sidebar-mini-icon">EP</span>
                                        <span class="sidebar-normal">Edit Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="sidebar-mini-icon">S</span>
                                        <span class="sidebar-normal">Settings</span>
                                    </a>
                                </li>*@
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                    <li>
                        <a asp-action="Index" asp-controller="Home">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="FinancialStatement">
                            <i class="fa fa-rub"></i>
                            <p> Financial Statement  </p>
                        </a>
                    </li>

                    @*<li>
            <a data-toggle="collapse" href="#financialStatement">
                <i class="fa fa-rub"></i>
                <p>
                    Financial Statement <b class="caret"></b>
                </p>
            </a>
            <div class="collapse " id="financialStatement">
                <ul class="nav">
                    <li>
                        <a asp-action="BalanceSheet" asp-controller="FinancialStatement">
                            <span class="sidebar-mini-icon">BS</span>
                            <span class="sidebar-normal">Statement of Assets, Liabilities and Fund Balance</span>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/forms/extended.html">
                            <span class="sidebar-mini-icon">IS</span>
                            <span class="sidebar-normal">Statement of Comprehensive Income</span>
                        </a>
                    </li>
                    <li>
                        <a href="../examples/forms/validation.html">
                            <span class="sidebar-mini-icon">RE</span>
                            <span class="sidebar-normal">Retained Earnings</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>*@

                    @{ if (slug == "riza-lyn-presbetero-b6zhska" ||
                             slug == "mariaa-wilma-velarde-szufo8f" ||
                             slug == "ilyn-landero-xomwfqt" ||
                             slug == "ma-cristina-ramos-jx9d7v9" ||
                             slug == "robert-samortin-gmyyqyi" || 
                             slug == "mirasol-villafane-zzf9pse")
                        {
                            <li>
                                <hr style="border-top-color:whitesmoke; margin:12px" />
                                <a asp-action="Index" asp-controller="Upload">
                                    <i class="fa fa-upload"></i>
                                    <p>File Upload</p>
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Notes">
                                    <i class="fa fa-file-text-o"></i>
                                    <p>Notes to FS</p>
                                </a>
                            </li>
                            <li>
                                <a asp-action="Users" asp-controller="Account">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <p>System Users</p>
                                </a>
                            </li>

                        }
                    }

                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">ACCOUNTING SYSTEM</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        @*<form>
                            <div class="input-group no-border">
                                <input type="text" value="" class="form-control" placeholder="Search...">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="now-ui-icons ui-1_zoom-bold"></i>
                                    </div>
                                </div>
                            </div>
                        </form>*@
                        @*<ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="now-ui-icons media-2_sound-wave"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Stats</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="now-ui-icons location_world"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Some Actions</span>
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#pablo">
                                        <i class="now-ui-icons users_single-02"></i>
                                        <p>
                                            <span class="d-lg-none d-md-block">Account</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="panel-header panel-header-sm">

            </div>
            <div class="content">
                @RenderBody()
            </div>
            <footer class="footer">
                <div class=" container-fluid ">
                    @*<nav>
                            <ul>
                                <li>
                                    <a href="https://www.creative-tim.com">
                                        Creative Tim
                                    </a>
                                </li>
                                <li>
                                    <a href="http://presentation.creative-tim.com">
                                        About Us
                                    </a>
                                </li>
                                <li>
                                    <a href="http://blog.creative-tim.com">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </nav>*@
                    <div class="copyright" id="copyright">
                        &copy;
                        <script>
                            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                        </script>, KMBI-FAD
                    </div>
                </div>
            </footer>
        </div>
    </div>



    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/plugins/moment.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="~/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for Sweet Alert -->
    @*<script src="~/assets/js/plugins/sweetalert2.min.js"></script>*@
    <!-- Forms Validations Plugin -->
    <script src="~/assets/js/plugins/jquery.validate.min.js"></script>
    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="~/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="~/assets/js/plugins/bootstrap-selectpicker.js"></script>
    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="~/assets/js/plugins/bootstrap-datetimepicker.js"></script>
    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="~/assets/js/plugins/bootstrap-tagsinput.js"></script>
    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="~/assets/js/plugins/jasny-bootstrap.min.js"></script>
    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="~/assets/js/plugins/fullcalendar.min.js"></script>
    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="~/assets/js/plugins/jquery-jvectormap.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="~/assets/js/plugins/nouislider.min.js"></script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
    <!-- Chart JS -->
    <script src="~/assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="~/assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
    <script src="~/assets/demo/demo.js"></script>
    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

            demo.initVectorMap();

        });
    </script>
    <script>
        function displayBusyIndicator() {
            $('.loading').show();
        }
        $(window).on('beforeunload', function () {
            displayBusyIndicator();
        });
        $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
