﻿


<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">SYSTEM USERS</h4>
            <div>
                <button class="btn btn btn-primary" id="updateUsers"><b>Add Users</b></button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped" id="tbl">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                Employee Code
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Middle Name
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    @*<tbody>
                        @{
                            
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.empCode</td>
                                    <td>@item.lastName</td>
                                    <td>@item.firstName</td>
                                    <td>@item.middleName</td>
                                </tr>
                            }
                        }

                    </tbody>*@
                </table>
                
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade ps show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">

            <div class="modal-header justify-content-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
                <h5 class="title title-up" id="noteTitle">List of Employees</h5>

            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered table-responsive" cellspacing="0" width="100%" id="datatable">
                    <thead class="text-primary">
                        <tr>
                            <th>
                                ID No
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Middle Name
                            </th>
                            <th hidden>
                                Email
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    $('#updateUsers').click(function () {
        $('#myModal').modal('show');
        @*$.ajax({
                type: "GET",
                url: "@Url.Action("GetFSNotes", "Notes")",
                data: {
                    month: month,
                    year: $("#year option:selected").text()
                },
                success: function (data) {
                   
                    if (data.data.length == 0) {
                        var table = $('#dtNotes').DataTable();
                        table
                            .clear()
                            .draw();
                    }
                    else {
                        tbl = $('#dtNotes').DataTable({
                            "ajax": {
                                "url": '@Url.Action("GetFSNotes", "Notes")',
                                "type": "Get",
                                "datatype": "json",
                                "data": {
                                    month: month,
                                    year: $("#year option:selected").text()
                                }
                            },
                            "order": [[0, "asc"]],
                            "pagingType": "full_numbers",
                            "lengthMenu": [
                                [10, 25, 50, -1],
                                [10, 25, 50, "All"]
                            ],
                            language: {
                                search: "_INPUT_",
                                searchPlaceholder: "Search Records",
                            },
                            "columns": [
                                {
                                    "data": "employeeCode", render: function (data, type, row) {
                                        return row.employeeCode
                                    }
                                },
                                {
                                    "data": "fullname", render: function (data, type, row) {
                                        return row.fullname
                                    }
                                }
                                {
                                    "data": "id", "render": function (data) {
                                        return '<div class="text-center"><a href="#" id="edit"  data-toggle="tooltip" data-placement="top" title="Edit Record" class="btn btn-round btn-warning btn-icon btn-sm"><i class="fa fa-edit"></i></a> ' +
                                        ' <a href="#" id="delete" data-toggle="tooltip" data-placement="top" title="Delete Record"  class="btn btn-round btn-danger btn-icon btn-sm"><i class="fa fa-trash"></i></a></div>'
                                    }
                                }
                            ],
                            "destroy": true
                        })
                    }
                }
            })*@
    })
</script>
<script>
    @*$('#updateUsers').click(function () {
        $('#tbl').find('tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked')) {
                alert(row.find("td:eq(2)").text());
                var empCode = row.find("td:eq(2)").text();
                var email = row.find("td:eq(7)").text();

                swal({
                                title: "Are you sure?",
                                text: "",
                                type: "info",
                                showCancelButton: true,
                                confirmButtonColor: "#DD6B55",
                                confirmButtonText: "Yes",
                                cancelButtonText: "No",
                                closeOnConfirm: false
                            },
                            function () {
                                swal({
                                    title: 'Please Wait..!',
                                    text: 'Saving Record',
                                    allowOutsideClick: false,
                                    allowEscapeKey: false,
                                    allowEnterKey: false,
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                    onOpen: () => {
                                        swal.showLoading()
                                    }
                                })
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("Insert", "Account")",
                                    data: {
                                        empCode: empCode,
                                        email: email
                                    },
                                    success: function (data) {
                                        swal("Save!", "Data successfully Saved!", "success");
                                    }
                                }) 
                                    
                                }
                );
                                
            }
        });

        
        });*@
</script>

<script>
    $(document).ready(function() {
        var oTable = $('#tbl').DataTable({
            "ajax": {
                "url": '@Url.Action("GetUsers", "Account")',
                "type": "Get",
                "datatype": "json"
                //,
                //"beforeSend": function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                //    $('.loading').show();
                //},
                //"complete": function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                //    $('.loading').hide();
                //}
                
            },
            'processing': true,
            'language': {
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...'
            },     
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            },
            "columns": [
                { "data": "empCode", "autoWidth": true },
                { "data": "lastName", "autoWidth": true },
                { "data": "firstName", "autoWidth": true },
                { "data": "middleName", "autoWidth": true },
                {
                    "data": "empCode", "render": function (data) {
                        return '<div class="text-center"><a href="#" id="remove" data-toggle="tooltip" data-placement="top" title="Remove Access" class="btn btn-info btn-round btn-neutral"><i class="fa fa-trash"></i></a></div>'
                    }
                }
            ]
        });

      


        var oDataTable = $('#datatable').DataTable({
            "ajax": {
                "url": '@Url.Action("GetAllUsers", "Account")',
                "type": "Get",
                "datatype": "json"
                //,
                //"beforeSend": function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                //    $('.loading').show();
                //},
                //"complete": function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                //    $('.loading').hide();
                //}
                
            },
            'processing': true,
            'language': {
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...'
            },     
            "order": [[1, "asc"]],
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "All"]
            ],
            "lengthChange": false,
            "bInfo": false,
            "pagingType": "simple",
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search Records",
            },
            "columns": [
                { "data": "empCode", "autoWidth": true },
                { "data": "lastName", "autoWidth": true },
                { "data": "firstName", "autoWidth": true },
                { "data": "middleName", "autoWidth": true },
                { "data": "email", "autoWidth": true, "visible": false },
                {
                    "data": "empCode", "render": function (data) {
                        return '<div class="text-center"><a href="#" id="add" data-toggle="tooltip" data-placement="top" title="Add" class="btn btn-info btn-round btn-neutral"><i class="fa fa-plus"></i></a></div>'
                    }
                }
            ]
        })

        var tbl = $('#datatable').DataTable();
        $('#datatable tbody').on('click', '#add', function () {
            $tr = $(this).closest('tr');
            var data = tbl.row($tr).data();
            selectedRow = data.empCode;
            var email = data.email;
            console.log(selectedRow);

            $.ajax({
                type: "POST",
                url: "@Url.Action("Insert", "Account")",
                data: {
                    empCode: selectedRow,
                    email: email
                },
                beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                    $('.loading').show();
                },
                success: function (data) {
                    oDataTable.ajax.reload();
                    oTable.ajax.reload();
                    swal("Saved!", "Data successfully Added!", "success");
                },
                complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                    $('.loading').hide();
                }
            })

        })


        var table = $('#tbl').DataTable();

        $('#tbl tbody').on('click', '#remove', function () {
            $tr = $(this).closest('tr');
            var data = table.row($tr).data();
            selectedRow = data.empCode;
            console.log(selectedRow);

            swal({
                title: "Are you sure?",
                text: "Your will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
                function () {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("Delete", "Account")",
                        data: {
                            empCode: selectedRow
                        },
                        beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                            $('.loading').show();
                        },
                        success: function (data) {
                            oDataTable.ajax.reload();
                            oTable.ajax.reload();
                            swal("Saved!", "Data successfully Removed!", "success");
                        },
                        complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                            $('.loading').hide();
                        }
                    })
                });
        })
    });
</script>