﻿
@using  System.Text.RegularExpressions
@model List<shortTermViewModel>
<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
            <div class="card-header ">
                <a class="btn btn-default btn-sm" asp-action="Index" asp-controller="Upload"> Back to Uploads</a>
                <h4 class="card-title text-center">FINANCE</h4>
                <h3 class="card-category text-center">
                    SHORT-TERM PLACEMENTS <br />
                    AS OF <b>@Model.FirstOrDefault().month.ToUpper() @Model.FirstOrDefault().year.ToUpper()</b>
                </h3>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th>Particulars</th>
                                <th class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var amount = "";
                                decimal total = 0;
                                foreach (var item in Model)
                                {

                                    if (item.amount < 0) { amount = "Red"; } else { amount = "Black"; }
                                    <tr>
                                        <td>

                                            @item.particulars
                                        </td>
                                        <td class="text-right" style="color:@amount">
                                            @item.amount.ToString("#,###.00;(#,###.00);-")
                                        </td>

                                    </tr>

                                    total += item.amount;
                                }
                            }
                        </tbody>
                        <tfoot>
                            <tr style="font-weight:bold">
                                <th>
                                    Total
                                </th>
                                <th class="text-right">
                                    @total.ToString("#,###.00;(#,###.00);-")
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>