﻿
@using  System.Text.RegularExpressions
@model List<balanceSheetViewModel>
<div class="row">

    <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
            <div class="card-header ">
                <a class="btn btn-default btn-sm" asp-action="Index" asp-controller="Upload"> Back to Uploads</a>
                <h4 class="card-title text-center">BUDGET</h4>
                <h3 class="card-category text-center">
                    BALANCE SHEET <br />
                    <br />
                    FOR THE YEAR <b>@Model.FirstOrDefault().year.ToUpper()</b>
                </h3>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="text-primary">
                            <tr>
                                <th>Account Title</th>
                                <th class="text-right">1</th>
                                <th class="text-right">2</th>
                                <th class="text-right">3</th>
                                <th class="text-right">4</th>
                                <th class="text-right">5</th>
                                <th class="text-right">6</th>
                                <th class="text-right">7</th>
                                <th class="text-right">8</th>
                                <th class="text-right">9</th>
                                <th class="text-right">10</th>
                                <th class="text-right">11</th>
                                <th class="text-right">12</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var m1 = "";
                                var m2 = "";
                                var m3 = "";
                                var m4 = "";
                                var m5 = "";
                                var m6 = "";
                                var m7 = "";
                                var m8 = "";
                                var m9 = "";
                                var m10 = "";
                                var m11 = "";
                                var m12 = "";

                                //CURRENT ASSETS
                                decimal totCurrAssetsM1 = 0;
                                decimal totCurrAssetsM2 = 0;
                                decimal totCurrAssetsM3 = 0;
                                decimal totCurrAssetsM4 = 0;
                                decimal totCurrAssetsM5 = 0;
                                decimal totCurrAssetsM6 = 0;
                                decimal totCurrAssetsM7 = 0;
                                decimal totCurrAssetsM8 = 0;
                                decimal totCurrAssetsM9 = 0;
                                decimal totCurrAssetsM10 = 0;
                                decimal totCurrAssetsM11 = 0;
                                decimal totCurrAssetsM12 = 0;

                                //NONCURRENT ASSETS
                                decimal totNonCurrAssetsM1 = 0;
                                decimal totNonCurrAssetsM2 = 0;
                                decimal totNonCurrAssetsM3 = 0;
                                decimal totNonCurrAssetsM4 = 0;
                                decimal totNonCurrAssetsM5 = 0;
                                decimal totNonCurrAssetsM6 = 0;
                                decimal totNonCurrAssetsM7 = 0;
                                decimal totNonCurrAssetsM8 = 0;
                                decimal totNonCurrAssetsM9 = 0;
                                decimal totNonCurrAssetsM10 = 0;
                                decimal totNonCurrAssetsM11 = 0;
                                decimal totNonCurrAssetsM12 = 0;

                                //TOTAL ASSETS
                                decimal totAssetsM1 = 0;
                                decimal totAssetsM2 = 0;
                                decimal totAssetsM3 = 0;
                                decimal totAssetsM4 = 0;
                                decimal totAssetsM5 = 0;
                                decimal totAssetsM6 = 0;
                                decimal totAssetsM7 = 0;
                                decimal totAssetsM8 = 0;
                                decimal totAssetsM9 = 0;
                                decimal totAssetsM10 = 0;
                                decimal totAssetsM11 = 0;
                                decimal totAssetsM12 = 0;


                                //CURRENT LIABILITIES
                                decimal totCurrLiabilitiesM1 = 0;
                                decimal totCurrLiabilitiesM2 = 0;
                                decimal totCurrLiabilitiesM3 = 0;
                                decimal totCurrLiabilitiesM4 = 0;
                                decimal totCurrLiabilitiesM5 = 0;
                                decimal totCurrLiabilitiesM6 = 0;
                                decimal totCurrLiabilitiesM7 = 0;
                                decimal totCurrLiabilitiesM8 = 0;
                                decimal totCurrLiabilitiesM9 = 0;
                                decimal totCurrLiabilitiesM10 = 0;
                                decimal totCurrLiabilitiesM11 = 0;
                                decimal totCurrLiabilitiesM12 = 0;

                                //NONCURRENT LIABILITIES
                                decimal totNonCurrLiabilitiesM1 = 0;
                                decimal totNonCurrLiabilitiesM2 = 0;
                                decimal totNonCurrLiabilitiesM3 = 0;
                                decimal totNonCurrLiabilitiesM4 = 0;
                                decimal totNonCurrLiabilitiesM5 = 0;
                                decimal totNonCurrLiabilitiesM6 = 0;
                                decimal totNonCurrLiabilitiesM7 = 0;
                                decimal totNonCurrLiabilitiesM8 = 0;
                                decimal totNonCurrLiabilitiesM9 = 0;
                                decimal totNonCurrLiabilitiesM10 = 0;
                                decimal totNonCurrLiabilitiesM11 = 0;
                                decimal totNonCurrLiabilitiesM12 = 0;

                                //TOTAL LIABILITIES
                                decimal totLiabilitiesM1 = 0;
                                decimal totLiabilitiesM2 = 0;
                                decimal totLiabilitiesM3 = 0;
                                decimal totLiabilitiesM4 = 0;
                                decimal totLiabilitiesM5 = 0;
                                decimal totLiabilitiesM6 = 0;
                                decimal totLiabilitiesM7 = 0;
                                decimal totLiabilitiesM8 = 0;
                                decimal totLiabilitiesM9 = 0;
                                decimal totLiabilitiesM10 = 0;
                                decimal totLiabilitiesM11 = 0;
                                decimal totLiabilitiesM12 = 0;


                                //FUND BALANCE
                                decimal totFundBalanceM1 = 0;
                                decimal totFundBalanceM2 = 0;
                                decimal totFundBalanceM3 = 0;
                                decimal totFundBalanceM4 = 0;
                                decimal totFundBalanceM5 = 0;
                                decimal totFundBalanceM6 = 0;
                                decimal totFundBalanceM7 = 0;
                                decimal totFundBalanceM8 = 0;
                                decimal totFundBalanceM9 = 0;
                                decimal totFundBalanceM10 = 0;
                                decimal totFundBalanceM11 = 0;
                                decimal totFundBalanceM12 = 0;


                                //FUND BALANCE and LIABILITIES
                                decimal totFLM1 = 0;
                                decimal totFLM2 = 0;
                                decimal totFLM3 = 0;
                                decimal totFLM4 = 0;
                                decimal totFLM5 = 0;
                                decimal totFLM6 = 0;
                                decimal totFLM7 = 0;
                                decimal totFLM8 = 0;
                                decimal totFLM9 = 0;
                                decimal totFLM10 = 0;
                                decimal totFLM11 = 0;
                                decimal totFLM12 = 0;

                                //FOR CHECKING
                                decimal totCHM1 = 0;
                                decimal totCHM2 = 0;
                                decimal totCHM3 = 0;
                                decimal totCHM4 = 0;
                                decimal totCHM5 = 0;
                                decimal totCHM6 = 0;
                                decimal totCHM7 = 0;
                                decimal totCHM8 = 0;
                                decimal totCHM9 = 0;
                                decimal totCHM10 = 0;
                                decimal totCHM11 = 0;
                                decimal totCHM12 = 0;


                                foreach (var item in Model)
                                {
                                    if (item.m1 < 0) { m1 = "Red"; } else { m1 = "Black"; }
                                    if (item.m2 < 0) { m2 = "Red"; } else { m2 = "Black"; }
                                    if (item.m3 < 0) { m3 = "Red"; } else { m3 = "Black"; }
                                    if (item.m4 < 0) { m4 = "Red"; } else { m4 = "Black"; }
                                    if (item.m5 < 0) { m5 = "Red"; } else { m5 = "Black"; }
                                    if (item.m6 < 0) { m6 = "Red"; } else { m6 = "Black"; }
                                    if (item.m7 < 0) { m7 = "Red"; } else { m7 = "Black"; }
                                    if (item.m8 < 0) { m8 = "Red"; } else { m8 = "Black"; }
                                    if (item.m9 < 0) { m9 = "Red"; } else { m9 = "Black"; }
                                    if (item.m10 < 0) { m10 = "Red"; } else { m10 = "Black"; }
                                    if (item.m11 < 0) { m11 = "Red"; } else { m11 = "Black"; }
                                    if (item.m12 < 0) { m12 = "Red"; } else { m12 = "Black"; }

                                    // ASSETS
                                    if (item.accntType.Trim() == "Assets" && item.subAccntType.Trim() == "Current Assets")
                                    {
                                        totCurrAssetsM1 += item.m1;
                                        totCurrAssetsM2 += item.m2;
                                        totCurrAssetsM3 += item.m3;
                                        totCurrAssetsM4 += item.m4;
                                        totCurrAssetsM5 += item.m5;
                                        totCurrAssetsM6 += item.m6;
                                        totCurrAssetsM7 += item.m7;
                                        totCurrAssetsM8 += item.m8;
                                        totCurrAssetsM9 += item.m9;
                                        totCurrAssetsM10 += item.m10;
                                        totCurrAssetsM11 += item.m11;
                                        totCurrAssetsM12 += item.m12;
                                    }

                                    if (item.accntType.Trim() == "Assets" && item.subAccntType.Trim() == "Noncurrent Assets")
                                    {
                                        totNonCurrAssetsM1 += item.m1;
                                        totNonCurrAssetsM2 += item.m2;
                                        totNonCurrAssetsM3 += item.m3;
                                        totNonCurrAssetsM4 += item.m4;
                                        totNonCurrAssetsM5 += item.m5;
                                        totNonCurrAssetsM6 += item.m6;
                                        totNonCurrAssetsM7 += item.m7;
                                        totNonCurrAssetsM8 += item.m8;
                                        totNonCurrAssetsM9 += item.m9;
                                        totNonCurrAssetsM10 += item.m10;
                                        totNonCurrAssetsM11 += item.m11;
                                        totNonCurrAssetsM12 += item.m12;
                                    }

                                    //LIABILITIES
                                    if (item.accntType.Trim() == "Liabilities" && item.subAccntType.Trim() == "Current Liabilities")
                                    {
                                        totCurrLiabilitiesM1 += item.m1;
                                        totCurrLiabilitiesM2 += item.m2;
                                        totCurrLiabilitiesM3 += item.m3;
                                        totCurrLiabilitiesM4 += item.m4;
                                        totCurrLiabilitiesM5 += item.m5;
                                        totCurrLiabilitiesM6 += item.m6;
                                        totCurrLiabilitiesM7 += item.m7;
                                        totCurrLiabilitiesM8 += item.m8;
                                        totCurrLiabilitiesM9 += item.m9;
                                        totCurrLiabilitiesM10 += item.m10;
                                        totCurrLiabilitiesM11 += item.m11;
                                        totCurrLiabilitiesM12 += item.m12;
                                    }

                                    if (item.accntType.Trim() == "Liabilities" && item.subAccntType.Trim() == "Noncurrent Liabilities")
                                    {
                                        totNonCurrLiabilitiesM1 += item.m1;
                                        totNonCurrLiabilitiesM2 += item.m2;
                                        totNonCurrLiabilitiesM3 += item.m3;
                                        totNonCurrLiabilitiesM4 += item.m4;
                                        totNonCurrLiabilitiesM5 += item.m5;
                                        totNonCurrLiabilitiesM6 += item.m6;
                                        totNonCurrLiabilitiesM7 += item.m7;
                                        totNonCurrLiabilitiesM8 += item.m8;
                                        totNonCurrLiabilitiesM9 += item.m9;
                                        totNonCurrLiabilitiesM10 += item.m10;
                                        totNonCurrLiabilitiesM11 += item.m11;
                                        totNonCurrLiabilitiesM12 += item.m12;
                                    }

                                    //FUND BALANCE
                                    if (item.accntType.Trim() == "Fund Balance" && item.subAccntType.Trim() == "")
                                    {
                                        totFundBalanceM1 += item.m1;
                                        totFundBalanceM2 += item.m2;
                                        totFundBalanceM3 += item.m3;
                                        totFundBalanceM4 += item.m4;
                                        totFundBalanceM5 += item.m5;
                                        totFundBalanceM6 += item.m6;
                                        totFundBalanceM7 += item.m7;
                                        totFundBalanceM8 += item.m8;
                                        totFundBalanceM9 += item.m9;
                                        totFundBalanceM10 += item.m10;
                                        totFundBalanceM11 += item.m11;
                                        totFundBalanceM12 += item.m12;
                                    }
                                    <tr>
                                        <td>
                                            @item.accntTitle
                                        </td>
                                        <td class="text-right" style="color:@m1">
                                            @item.m1.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m2">
                                            @item.m2.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m3">
                                            @item.m3.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m4">
                                            @item.m4.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m5">
                                            @item.m5.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m6">
                                            @item.m6.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m7">
                                            @item.m7.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m8">
                                            @item.m8.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m9">
                                            @item.m9.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m10">
                                            @item.m10.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m11">
                                            @item.m11.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                        <td class="text-right" style="color:@m12">
                                            @item.m12.ToString("#,###.00;(#,###.00);-")
                                        </td>
                                    </tr>
                                }
                                //ASSETS
                                totAssetsM1 = totCurrAssetsM1 + totNonCurrAssetsM1;
                                totAssetsM2 = totCurrAssetsM2 + totNonCurrAssetsM2;
                                totAssetsM3 = totCurrAssetsM3 + totNonCurrAssetsM3;
                                totAssetsM4 = totCurrAssetsM4 + totNonCurrAssetsM4;
                                totAssetsM5 = totCurrAssetsM5 + totNonCurrAssetsM5;
                                totAssetsM6 = totCurrAssetsM6 + totNonCurrAssetsM6;
                                totAssetsM7 = totCurrAssetsM7 + totNonCurrAssetsM7;
                                totAssetsM8 = totCurrAssetsM8 + totNonCurrAssetsM8;
                                totAssetsM9 = totCurrAssetsM9 + totNonCurrAssetsM9;
                                totAssetsM10 = totCurrAssetsM10 + totNonCurrAssetsM10;
                                totAssetsM11 = totCurrAssetsM11 + totNonCurrAssetsM11;
                                totAssetsM12 = totCurrAssetsM12 + totNonCurrAssetsM12;

                                //LIABILITIES
                                totLiabilitiesM1 = totCurrLiabilitiesM1 + totNonCurrLiabilitiesM1;
                                totLiabilitiesM2 = totCurrLiabilitiesM2 + totNonCurrLiabilitiesM2;
                                totLiabilitiesM3 = totCurrLiabilitiesM3 + totNonCurrLiabilitiesM3;
                                totLiabilitiesM4 = totCurrLiabilitiesM4 + totNonCurrLiabilitiesM4;
                                totLiabilitiesM5 = totCurrLiabilitiesM5 + totNonCurrLiabilitiesM5;
                                totLiabilitiesM6 = totCurrLiabilitiesM6 + totNonCurrLiabilitiesM6;
                                totLiabilitiesM7 = totCurrLiabilitiesM7 + totNonCurrLiabilitiesM7;
                                totLiabilitiesM8 = totCurrLiabilitiesM8 + totNonCurrLiabilitiesM8;
                                totLiabilitiesM9 = totCurrLiabilitiesM9 + totNonCurrLiabilitiesM9;
                                totLiabilitiesM10 = totCurrLiabilitiesM10 + totNonCurrLiabilitiesM10;
                                totLiabilitiesM11 = totCurrLiabilitiesM11 + totNonCurrLiabilitiesM11;
                                totLiabilitiesM12 = totCurrLiabilitiesM12 + totNonCurrLiabilitiesM12;

                                //FUND BALANCE + LIABILITIES
                                totFLM1 = totLiabilitiesM1 + totFundBalanceM1;
                                totFLM2 = totLiabilitiesM2 + totFundBalanceM2;
                                totFLM3 = totLiabilitiesM3 + totFundBalanceM3;
                                totFLM4 = totLiabilitiesM4 + totFundBalanceM4;
                                totFLM5 = totLiabilitiesM5 + totFundBalanceM5;
                                totFLM6 = totLiabilitiesM6 + totFundBalanceM6;
                                totFLM7 = totLiabilitiesM7 + totFundBalanceM7;
                                totFLM8 = totLiabilitiesM8 + totFundBalanceM8;
                                totFLM9 = totLiabilitiesM9 + totFundBalanceM9;
                                totFLM10 = totLiabilitiesM10 + totFundBalanceM10;
                                totFLM11 = totLiabilitiesM11 + totFundBalanceM11;
                                totFLM12 = totLiabilitiesM12 + totFundBalanceM12;


                                //FOR CHECKING
                                totCHM1 = totAssetsM1 - totFLM1;
                                totCHM2 = totAssetsM2 - totFLM2;
                                totCHM3 = totAssetsM3 - totFLM3;
                                totCHM4 = totAssetsM4 - totFLM4;
                                totCHM5 = totAssetsM5 - totFLM5;
                                totCHM6 = totAssetsM6 - totFLM6;
                                totCHM7 = totAssetsM7 - totFLM7;
                                totCHM8 = totAssetsM8 - totFLM8;
                                totCHM9 = totAssetsM9 - totFLM9;
                                totCHM10 = totAssetsM10 - totFLM10;
                                totCHM11 = totAssetsM11 - totFLM11;
                                totCHM12 = totAssetsM12 - totFLM12;
                            }
                            <tr style="font-weight:bold">
                                <td colspan="13" class="text-center" style="background-color:silver">SUMMARY</td>
                            </tr>
                            <tr>
                                <td>Total Current Assets</td>
                                <td class="text-right">@totCurrAssetsM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrAssetsM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td>Total Noncurrent Assets</td>
                                <td class="text-right">@totNonCurrAssetsM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrAssetsM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr style="font-weight:bold">
                                <td>TOTAL ASSETS</td>
                                <td class="text-right">@totAssetsM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totAssetsM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>

                            <tr>
                                <td>Total Current Liabilities</td>
                                <td class="text-right">@totCurrLiabilitiesM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totCurrLiabilitiesM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr>
                                <td>Total Noncurrent Liabilities</td>
                                <td class="text-right">@totNonCurrLiabilitiesM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totNonCurrLiabilitiesM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr style="font-weight:bold">
                                <td>Total Liabilities</td>
                                <td class="text-right">@totLiabilitiesM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totLiabilitiesM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>

                            <tr style="font-weight:bold">
                                <td>Total Fund Balance</td>
                                <td class="text-right">@totFundBalanceM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFundBalanceM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>

                            <tr style="font-weight:bold">
                                <td>TOTAL LIABILITIES AND FUND BALANCE</td>
                                <td class="text-right">@totFLM1.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM2.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM3.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM4.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM5.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM6.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM7.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM8.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM9.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM10.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM11.ToString("#,###.00;(#,###.00);-")</td>
                                <td class="text-right">@totFLM12.ToString("#,###.00;(#,###.00);-")</td>
                            </tr>
                            <tr style="font-weight:bold">
                                <td></td>
                                <td class="text-right">@totCHM1.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM2.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM3.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM4.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM5.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM6.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM7.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM8.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM9.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM10.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM11.ToString("#,###;(#,###.00);-")</td>
                                <td class="text-right">@totCHM12.ToString("#,###;(#,###.00);-")</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>